<div id="<%= dom_id vehicle_note %>">
  <p>
    <strong>Body:</strong>
    <%= vehicle_note.body %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= vehicle_note.vehicle_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vehicle_note.user_id %>
  </p>

</div>
