<div id="<%= dom_id inwoner_note %>">
  <p>
    <strong>Body:</strong>
    <%= inwoner_note.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= inwoner_note.user_id %>
  </p>

  <p>
    <strong>Inwoner:</strong>
    <%= inwoner_note.inwoner_id %>
  </p>

</div>
