<h1>Editing inwoner note</h1>

<%= render "form", inwoner_note: @inwoner_note %>

<br>

<div>
  <%= link_to "Show this inwoner note", @inwoner_note %> |
  <%= link_to "Back to inwoner notes", inwoner_notes_path %>
</div>
